/* Temporary CSS, to be merged with the rest of the code */

.quiz-card{
    display: flex;
    flex-direction: column;
}

.quiz-card p{
    margin:1rem;
    color: rgb(8, 8, 8);
    text-transform: uppercase;
    font-weight: bold;
}

.quiz-card div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
