.App {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Basic CSS Variables */

html {
  --hsl-base-color: 34;
  --hsl-s: 100%;
  --hsl-l: 50%;

  --color-primary: hsl(var(--hsl-base-color), var(--hsl-s), var(--hsl-l));
  --color-secondary: hsl(var(--hsl-base-color), 100%, 65%);
  --color-background: hsl(var(--hsl-base-color), 80%, 94%);
  --box-shadow: hsla(0, 0%, 0%, 0.35) 0px 5px 15px;
  --white-color: hsl(0, 100%, 100%);
  --black-color: hsl(0, 0%, 16%);
  --disabled-color: hsl(0, 0%, 50.2%);
  --right-color: hsl(115, 70%, 50%);
  --wrong-color: hsl(0, 100%, 50%);
  --exit-color: hsl(315, var(--hsl-s), var(--hsl-l));
}

/* Main HTML element selectors */

header {
  background-color: var(--color-primary);
  width: 100%;
  height: 125px;
  /* margin-top: -3em; */
  display: flex;
  justify-content: center;
  align-items: center;
}

header img {
  height: 100%;
}

body {
  width: clamp(360px, 100%, 700px);
  box-sizing: border-box;
  margin: 0em auto;
  text-align: center;  
}  

h1 {
  text-align: center;
  line-height: 100px;
  color: var(--white-color);
  font-size: 50px;
  padding-top: 10px;
}    

h2 {
  padding: 10px;
  margin: 20px 20px 5px 20px;
  color: var(--black-color);
}    

h3 {
  margin: 20px;
  font-size: 40px;
  color: var(--black-color);
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  height: 60px;
  width: 100%;
  margin-top: auto;
}

footer p {
  color: var(--white-color);
}

img {
  margin: 1rem;
  border-radius: 10px;
}

/* Button definitions */

button {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--white-color);
  text-align: center;
  background-color: var(--color-primary);
  min-width: 100px;
  width: 145px;
  padding: 15px;
  margin: 12px;
  box-shadow: var(--box-shadow);
}    

.action-btn{
  background-color: var(--color-primary);
  border-radius: 80px;
}

.disabled-btn{
  background-color: var(--disabled-color);
  border-radius: 80px;
}

.category-btn{
  color: var(--white-color);
}

.answers-btn {
  background-color: var(--color-secondary);
  overflow-wrap: break-word;
  font-size: 15px;
}

.right-answer-btn{
  background-color: var(--right-color);
}

.wrong-answer-btn{
  background-color: var(--wrong-color);
}

.exit-btn{
  background-color: var(--color-primary);
  border-radius: 80px;
}

.unselected-btn {
  background-color: var(--color-secondary);
  border-radius: 80px;
  /* width: 100px;
  margin: 5px;*/
}
    
.selected-btn {
  background-color: var(--color-primary);
  border-radius: 80px;
  /* width: 100px;
  margin: 5px;*/
}

/* Flex classes */
 
.flex-wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-spacebetween{
  display: flex;
  justify-content: space-between;
  width: 80%.then(setDataLoaded(true));
}

/* Avatar classes */

.avatarbox {
  display: inline-block;
  margin-left: 40px;
  margin-right: 40px;
}    
  
.avatar {
  width: 100px;
  height: 100;
  padding: 10px;
  border: none;
  border-radius: 80px;
  margin: 8px;
  background-color: var(--color-secondary);
}    

.avatar-on {
  width: 100px;
  height: 100;
  padding: 10px;
  border: none;
  border-radius: 80px;
  margin: 8px;
  background-color: var(--color-primary);
}

/* Nickname classes */

.nickname {
  width: 300px;
  height: 45px;
  font-size: 20px;
  border-radius: 10px;
  padding-left: 10px;
  margin: 5px;
}    

.name-input-field {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--white-color);
  text-align: center;
  background-color: var(--color-primary);
  width: 185px;
  padding: 18px;
  margin: 20px;
  box-shadow: var(--box-shadow);
}    
/* 
.selected-btn {
  background-color: white;
  border: solid black 3px
} */

.current-player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}    

.current-player-name {
  color:var(--black-color);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold; 
  padding: 10px;
}    

.current-player-avatar {
  width: 60px;
  height: 60;
  padding: 10px;
  border: none;
  border-radius: 80px;
  background-color: var(--color-primary);
}  

.quiz-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}  

.quiz-card p{
  margin:1rem;
  color: var(--black-color);
  text-transform: uppercase;
  font-weight: bold;
}  

.score {
  font-size: 24px;
  font-weight: bold;
}

.smaller-font{
  font-size: smaller;
}

.settings-color {
  color: var(--color-primary);
}

@media only screen and (min-width: 490px) {
  .avatarbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .avatar {
    flex-basis: 120px;
  }

  .avatar-on {
    flex-basis: 120px;
  }

  .nickname {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .flex-wrap {
    margin-top: 20px;
    margin-bottom: 20px; 
    justify-content: center;
  }

  .answers-btn {
    flex-basis: 250px;
    font-size: 18px;
  }

  .category-btn {
    flex-basis: 160px;
  }

  .questions {
    font-size: 18px;
    padding-left: 100px;
    padding-right: 100px;
  }

}