body {
  width: clamp(360px, 100%, 700px);
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}

.avatarbox {
display: inline-block;
margin-left: 40px;
margin-right: 40px;
}

.avatar {
  width: 100px;
  height: 100;
  padding: 30px;
}
